{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<form action="{% url 'add-post' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="content">
  <button type="submit">Post</button>
</form>
{% endif %}


{% if posts %}
<div>
  {% for post in posts%}
  <br>
  <div>
    <div>{{ post.user }}</div>
    <div>{{ post.content }}</div>
    <div>{{ post.time }}</div>
    <div>Likes: {{ post.post_reactions.count }}</div>
    <div>Comments: {{ post.post_comments.count }}</div>
    <a href="{% url 'post_view' post.id %}"><button>go to post</button></a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}