{% if u.is_authenticated %}
  <form action="{% url 'add-reaction' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post" value={{ post.id }}>
    <input type="hidden" name="type" value=1>
    {% if reacted %}
    <button class="like-btn liked" type="submit" name="action" value="remove"></button>
    {% else %}
    <button class="like-btn" type="submit" name="action" value="add"></button>
    {% endif %}
    <span>{{ post.post_reactions.count }}</span>
  </form>
{% else %}
  <form action="{% url 'login' %}" method="GET">
    <button class="like-btn" type="submit"></button>
    <span>{{ post.post_reactions.count }}</span>
  </form>
{% endif %}
