{% if u.is_authenticated %}
  <form name="form-{{post.id}}" action="{% url 'add-reaction' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post" value={{ post.id }}>
    <input type="hidden" name="type" value=1>
    {% if reacted %}
    <button id="like-btn-{{post.id}}" class="like-btn liked" type="submit" name="action" value="remove"></button>
    {% else %}
    <button id="like-btn-{{post.id}}" class="like-btn" type="submit" name="action" value="add"></button>
    {% endif %}
    <span id="likes-count-{{post.id}}">{{ post.post_reactions.count }}</span>
  </form>

  <script>
    document.forms['form-{{post.id}}'].onsubmit = function() {
      event.preventDefault();
      
      fetch("{% url 'add-reaction' %}", {
        method: 'POST',
        headers: {'X-CSRFToken': this.csrfmiddlewaretoken.value},
        body: JSON.stringify({
          post: Number(this.post.value),
          type: this.type.value,
          action: this.action.value
        })
      })
      .then(r => console.log(r))
      .catch(e => console.error(e));

      let likeBtn = document.querySelector('#like-btn-{{post.id}}');
      let counter = document.querySelector('#likes-count-{{post.id}}');
      
      if (this.action.value === 'add') {
        counter.innerText = Number(counter.innerText) + 1;
        likeBtn.classList.add('liked');
        likeBtn.value = 'remove';
      } else if (this.action.value === 'remove') {
        counter.innerText = Number(counter.innerText) - 1;
        likeBtn.classList.remove('liked');
        likeBtn.value = 'add';
      }

    };
  </script>
{% else %}
  <form action="{% url 'login' %}" method="GET">
    <button class="like-btn" type="submit"></button>
    <span>{{ post.post_reactions.count }}</span>
  </form>
{% endif %}
