{% load custom_tags %}

<div class="post">

  <div class="header">
    <a class="user" href="{% url 'user_view' post.user.id %}">
      {{ post.user }}
    </a>
    <div class="sep"></div>
    <div class="time">{{ post.time }}</div>
  </div>

  <div class="content">{{ post.content }}</div>

  <div class="footer">
    {% likebtn user post %}
    <div class="sep"></div>
    <a class="comments" href="{% url 'post_view' post.id %}">
      <span class="label">Comments:</span>{{ post.post_comments.count }}
    </a>
  </div>

</div>
