{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}

{% if post %}
<div>

  <div><a href="{% url 'user_view' post.user.id %}">{{ post.user }}</a></div>
  <div>{{ post.content }}</div>
  <div>{{ post.time }}</div>

  <hr>

  <div>Reactions: {{ post.post_reactions.count }}</div>
  
  {% if user.is_authenticated %}
  <form action="{% url 'add-reaction' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post" value={{ post.id }}>
    <input type="hidden" name="type" value=1>
    {% user_reacted user post as reacted %}
    {% if not reacted %}
    <button type="submit" name="action" value="add">Like</button>
    {% else %}
    <button type="submit" name="action" value="remove">Unlike</button>
    {% endif %}
  </form>
  {% endif %}
  
  <hr>
  
  <h5>Comments</h5>
  
  {% if user.is_authenticated %}
  <form action="{% url 'add-comment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post" value="{{ post.id }}">
    <input type="text" name="content">
    <button type="submit">Comment</button>
  </form>
  {% endif %}
  
  <div>
    <div>Comments: {{ post.post_comments.count }}</div>
    {% for comment in post.post_comments.all %}
    <div>
      {{ comment.user }}: {{ comment.content }} | {{ comment.time }}
    </div>
    {% endfor %}
  </div>
    
</div>
{% endif %}

{% endblock %}