{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}
{% if post %}

<div class="post">
  
  <div class="header">
    <a class="user" href="{% url 'user_view' post.user.id %}">{{ post.user }}</a>
    <div class="sep"></div>
    <div class="time">{{ post.time }}</div>
    
    {% if post.user == user %}
    <div class="sep"></div>
    <button class="btn btn-sm btn-outline-secondary" data-post-edit-btn>Edit</button>
    {% endif %}
  </div>

  <div class="content">
    <div data-post-content>
      {{ post.content }}
    </div>
      
    {% if post.user == user %}
    <form data-post-edit-form="{{post.id}}">
      <textarea class="form-control mb-1" type="text" data-post-edit-input>{{ post.content }}</textarea>
      <button class="btn btn-sm btn-primary" type="submit" data-post-edit-submit>Edit</button>
    </form>
    {% endif %}
  </div>

  {% if post.edited %}
  <div class="edited">Edited: {{ post.modified }}</div>
  {% endif %}
  
  <div class="footer">
    {% likebtn user post %}
    <div class="sep"></div>
    <div>
      <span>Comments: </span>
      <span data-comment-count>{{ post.post_comments.count }}</span>
    </div>
  </div>

</div>

{% if user.is_authenticated %}
<form class="comment-form" action="{% url 'post_comment' %}" method="POST" data-comment-form>
  {% csrf_token %}
  <input type="hidden" name="post" value="{{ post.id }}">
  <textarea class="form-control mb-1" type="text" name="content"></textarea>
  <button class="btn btn-sm btn-primary" type="submit">Add comment</button>
</form>
{% else %}
<form class="comment-form" action="{% url 'login' %}" method="GET">
  <button class="btn btn-sm btn-outline-primary" type="submit">Log In</button>
  <span>to leave a comment.</span>
</form>
{% endif %}

<div data-comments>
  {% for comment in comments %}
  {% include "network/comment.html" %}
  {% endfor %}
</div>

{% endif %}
{% endblock %}
