{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}

{% if post %}
<div>
  
  <div><a href="{% url 'user_view' post.user.id %}">{{ post.user }}</a></div>
  <div>{{ post.time }}</div>
  <div data-post-content id='postContent'>{{ post.content }}</div>

  {% if post.user == user %}
  <form data-post-edit-form="{{post.id}}" id='editForm'>
    <textarea data-post-edit-input id='editInput' type="text">{{ post.content }}</textarea>
    <button type="submit">Edit</button>
  </form>
  <button data-post-edit-btn id='editBtn'>Edit</button>
  {% endif %}

</div>

<hr>

{% likebtn user post %}
  
<hr>
  
<div>

  <h5>Comments: {{ post.post_comments.count }}</h5>
  
  {% if user.is_authenticated %}
  <form action="{% url 'post_comment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post" value="{{ post.id }}">
    <input type="text" name="content">
    <button type="submit">Comment</button>
  </form>
  {% endif %}
  
  {% for comment in post.post_comments.all %}
  <div>
    {{ comment.user }}: {{ comment.content }} | {{ comment.time }}
  </div>
  {% endfor %}
  
</div>
{% endif %}

{% endblock %}