{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}
{% if u %}

<div class="user-profile">
  <div class="username">{{ u.username }}</div>
  
  <div class="stats">
    <div><span class="label">Following:</span>{{ u.following.count }}</div>
    <div class="sep"></div>
    <div><span class="label">Followers:</span>{{ u.followers.count }}</div>
  </div>
  
  {% if user.is_authenticated and user != u %}
  <form action="{% url 'user_follow' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{u.id}}">
    {% user_follows user u as follows %}
    {% if not follows %}
    <button class="btn btn-primary" type="submit" name="follow" value="true">Follow</button>
    {% else %}
    <button class="btn btn-outline-secondary" type="submit" name="follow" value="false">Unfollow</button>
    {% endif %}
  </form>
  {% endif %}
</div>

{% for post in posts %}
{% include "network/post.html" %}
{% endfor %}

{% endif %}
{% endblock %}