{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}

{% if u %}

<div>
  <div>{{ u.username }}</div>
  <div>Following: {{ u.following.count }}</div>
  <div>Followers: {{ u.followers.count }}</div>
</div>

{% if user.is_authenticated and user != u %}
<form action="{% url 'user_follow' u.id %}" method="POST">
  {% csrf_token %}
  {% user_follows user u as follows %}
  {% if not follows %}
  <button type="submit" name="follow" value="true">Follow</button>
  {% else %}
  <button type="submit" name="follow" value="false">Unfollow</button>
  {% endif %}
</form>
{% endif %}

{% for post in posts %}
  <br>
  {% include "network/post.html" %}
{% endfor %}

{% include 'network/pagination.html' %}

{% endif %}

{% endblock %}